@import '_config', '_sanitize';

html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}

.main-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 0 96px;
  background: no-repeat url('../img/main.jpg');
  background-size: 170%;
  background-position: center;
  
  &__logo {
    margin: 0;
    text-align: center;
  }
  &__logo-img {
    width: 53%;
  }
}
.section {
  margin: 0 0 80px;
  &__heading {
    margin: 0 0 52px;
    text-align: center;
    font-size: 3.6rem;
    font-family: $ff-heading;
    color: $fc-primary;
  }
  &__heading-wrap {
    position: relative;
  }
  &__heading-wrap::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    top: 0;
    left: -6px;
    background: no-repeat url('../img/img-decoration-navy.png');
    background-size: contain;
  }
  &__heading-wrap::after {
    position: absolute;
    content: '';
    width: 88px;
    height: 6px;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background: no-repeat url('../img/img-underline-navy.png');
    background-size: contain;
  }
  &__desc {
    margin: 0 0 40px;
    text-align: center;
    font-size: 1.6rem;
    font-family: $ff-desc;
    color: $fc-primary;
  }
  &__img-wrap {
    margin: 0;
  }
}

.service {
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px 12px 0;
    min-height: 150px;
    font-family: $ff-desc;
    color: $fc-primary;
    &--service01 {
      background: no-repeat url('../img/img-05.jpg');
      background-size: cover;
    }
    &--service02 {
      background: no-repeat url('../img/img-06.jpg');
      background-size: cover;
    }
  }
  &__item:nth-of-type(2n) {
    margin: 0 0 0 40px;
  }
  &__content-wrapper {
    position: absolute;
    text-align: center;
    right: -20px;
  }
  &__content-wrapper-even {
    position: absolute;
    text-align: center;
    left: -20px;
  }
  &__item-title {
    margin: 0 0 8px;
    font-family: sans-serif;
    font-size: 1.6rem;
    text-decoration: underline;
  }
  &__item-desc {
    margin: 0 0 8px;
    font-size: 1.4rem;
  }
  &__item-desc a {
    color: $fc-primary;
  }
}

.info {
  margin: 32px 0 0;
  color: $fc-primary;
  &__item {
    margin: 0 0 52px;
    text-align: center;
  }
  &__item-title {
    margin: 0 0 20px;
    font-size: 1.6rem;
  }
  &__item-title span {
    vertical-align: middle;
  }
  &__item-desc {
    margin: 0;
    font-size: 1.4rem;
  }
  &__access-list {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }
  &__access-list-item {
    position: relative;
    display: inline-block;
    margin: 0 0 8px;
    padding-left: 10px;
  }
  &__access-list-item::before {
    position: absolute;
    content: '・';
    left: -4px;
  }
}

.icon-instagram {
  margin: 0 0 32px;
  text-align: center;
  &__link {
    display: inline-block;
  }
  &__img {
    width: 25px;
    height: 25px;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 92%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  &__post {
    
  }
}

.section-menu {
  margin: 140px 0 80px;
  padding: 52px 0;
  background: no-repeat url('../img/img-03.jpg');
  background-size: cover;
  background-position: center;
  &__heading {
    margin: 0 0 52px;
    text-align: center;
    font-size: 3.6rem;
    font-family: $ff-heading;
    color: $fc-secondary;
  }
  &__heading-wrap {
    position: relative;
  }
  &__heading-wrap::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    top: 0;
    left: -6px;
    background: no-repeat url('../img/img-decoration-white.png');
    background-size: contain;
  }
  &__heading-wrap::after {
    position: absolute;
    content: '';
    width: 88px;
    height: 6px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: no-repeat url('../img/img-underline-white.png');
    background-size: contain;
  }
  &__desc {
    margin: 0 0 52px;
    text-align: center;
    font-size: 1.6rem;
    font-family: $ff-desc;
    color: $fc-secondary;
  }
  &__menu {
    position: relative;
  }
  &__menu::before {
    position: absolute;
    content: '';
    background: no-repeat url('../img/bg-coffee@2x.png');
    background-size: contain;
    width: 214px;
    height: 266px;
    top: 46%;
    transform: translateY(-54%);
    left: -80px;
  }
  &__menu-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px 0;
    &--focus {
      background: rgba(60, 50, 40, 0.38);
    }
    &--chill {
      background: rgba(255, 255, 255, 0.38);
    }
  }
  &__menu-list {
    margin: 0;
    padding: 0 30px 0 0;
    color: $fc-secondary;
    text-align: center;
    &--second {
      color: $fc-primary;
    }
  }
  &__menu-title {
    position: relative;
    margin: 0 0 8px;
    padding: 0 0 2px;
    line-height: .8;
    font-family: $ff-heading;
    font-size: 2.4rem;
    &--focus::after {
      background: no-repeat url('../img/img-underline-white.png');
    }
    &--chill::after {
      background: no-repeat url('../img/img-underline-navy.png');
    }
  }
  &__menu-title::after {
    position: absolute;
    content: '';
    width: 55px;
    height: 3px;
    bottom: -2px;
    left: 52%;
    transform: translateX(-48%);
    background-size: contain;
  }
  &__menu-title-sub {
    font-family: $ff-desc;
    font-size: 1.2rem;
  }
  &__menu-detail {
    margin: 0;
    font-size: 1.2rem;
  }
}

.footer {
  padding: 32px 0 0; 
  background: no-repeat url('../img/img-11.jpg');
  background-size: cover;
  &__logo-wrapper {
    margin: 0 0 40px;
    text-align: center;
  }
  &__links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto 32px;
    padding: 0;
    list-style: none;
  }
  &__info-item {
    margin: 0 0 24px;
    color: $fc-secondary;
    text-align: center;
    &--last {
      margin: 0 0 60px;
    }
  }
  &__info-item-title {
    margin: 0 0 16px;
  }
  &__info-item-desc {
    margin: 0;
  }
  &__copyright {
    color: $fc-secondary;
    background: #374864;
    margin: 0;
    padding: 4px 0;
    text-align: center;
    font-weight: 300;
  }
}